@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading{
    display:none;
}

/*header*/ 

header {
    background-color: #BEA477;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*code above allowing for the header background colour to be added with flex display
    , z index and box shadow. Fixed position allows it to always be visible on page*/
}

header a{
    text-decoration:none;
    color:inherit;
    font-size: 100%;
    padding-top: 3px;
}

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}


.menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

main{
    flex: 1 0 auto; /*makes main element take up any surplus space to push footer down*/
    
}

.logo{
    font-size: 50px;
    padding-top:5px;
}

/*nav*/
nav {
    position: absolute;
    background-color: #BEA477 ;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*hero section*/
.hero {
    height: 600px;
    width: 100%;
    background: url("../images/bjj_training_600px9.jpg") no-repeat center bottom/cover;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    box-shadow: 0 2px 2px #3a3a3a;
    /*above styling allows the image to not stretch too much, with styling for text boxes 
    layered above the image*/
}