@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading{
    display:none;
}

/*header*/ 

header {
    background-color: #BEA477;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*code above allowing for the header background colour to be added with flex display
    , z index and box shadow. Fixed position allows it to always be visible on page*/
}

header a{
    text-decoration:none;
    color:inherit;
    font-size: 100%;
    padding-top: 3px;
}

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}


.menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

main{
    flex: 1 0 auto; /*makes main element take up any surplus space to push footer down*/
    
}

.logo{
    font-size: 50px;
    padding-top:5px;
}