@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

.hidden-heading{
    display:none;
}

/*header*/ 

header {
    background-color: #BEA477;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*code above allowing for the header background colour to be added with flex display
    , z index and box shadow. Fixed position allows it to always be visible on page*/
}

header a{
    text-decoration:none;
    color:inherit;
    font-size: 100%;
    padding-top: 3px;
}

.menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}


.menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

main{
    flex: 1 0 auto; /*makes main element take up any surplus space to push footer down*/
    
}

.logo{
    font-size: 50px;
    padding-top:5px;
}

/*nav*/
nav {
    position: absolute;
    background-color: #BEA477 ;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*hero section*/
.hero {
    height: 600px;
    width: 100%;
    background: url("../images/bjj_training_600px9.jpg") no-repeat center bottom/cover;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    box-shadow: 0 2px 2px #3a3a3a;
    /*above styling allows the image to not stretch too much, with styling for text boxes 
    layered above the image*/
}

#sign-up{
    background-color: rgba(206,187,154, 0.8);
    font-size: 120%;
    position: relative ;
    top: 190%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width:300px;
    min-height: 60px;
    margin-top:20px;
    padding: 20px; 
    text-align: center;
    border: 2px solid  black;
    order:1;
/*styling above to position the text boxes over the hero image so they are in a flex column centred in the middle
with the colour set to 0.8 for some transparency*/
}

#cover-text {
    background-color: rgba(206,187,154, 0.8);
    position: relative;
    top: 225%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 200px;
    max-width:300px;
    height:100px;
    text-align: center;
    padding-top: 30px; 
    border: 2px solid  black;
    order:2;
    font-size: 120%;
    /*styling above to position the text boxes over the hero image so they are in a flex column centred in the middle
with the colour set to 0.8 for some transparency*/
    
}

#cover-text h2 {
    color: black;
}


#sign-up h3{
    color: black;
}

body{
    background-color: #BEA477;
}
.welcome{
    display:flex;
    flex-direction: column;
    width:80%;
    min-height:auto;
    margin-left:auto;
    margin-right:auto;
    /*styling to centre welcome section in middle of the page*/
}

.roadhouse{
    text-align: center;
    padding-top:20px;
    font-size:150%;
}
.roadhouse > h1{
    font-size : 200%;
}
#location{
    text-align: center;
    padding-top:30px;  
}

#location>iframe{
    width:100%;
    height:220px;
}
/*location sections for making the iframe map the full width of the pge*/
 #why-train{
   width: 80%;
   padding:20px;
   margin-left:auto;
   margin-right:auto;
}

#why-train{
    font-size:120%;;
}
#why-train h2{
    color: black;
}
#no-strings, #mental-benefits, #physical-benefits, #why-train-header{
    text-align: center;
    border: 2px solid black;
    background-color:rgba(206,187,154, 0.8);
    color: black;
}

#mental-benefits, #physical-benefits{
    top: 100%;
    border-top:0px
}
#no-strings{
    border-top: 0px;
}

/*stylings above to allow for the #why-train div to have all the divs below it
grouped together and neatly coordinated in the middle of the screen*/


/*footer*/
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

footer{
    background-color: #726247;
    
}

/*about-page*/
#hero-about{
    background: url(../images/BJJ-Brown-Belt\ _600.jpeg) no-repeat center center/cover;
    max-height: 400px;
    width: 100%;
}
#roadhouse-about{
    text-align: center;
    padding-left: 10px;
}


/* styling for the hero section of the about page*/

#coach-photo{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   
    
}
#coach-photo > img{
    height:110px;
    width:110px;
    border-radius: 50%; /*makes the images circular*/
    margin-left:5px;
    margin-right:5px;
    border: 2px solid black;
    margin-top:15px;
   }
#class-photo, #gym-photo{
    width:100%;
    display:flex;
    justify-content: center; /*centers image to the middle of the div*/
}
#class-photo > img{
    max-width: 200px;
    max-height: 260px;
    border-radius: 33%; /*adds some slight curvature to the image*/
    margin-top: 15px;
    border: 2px solid black;
   
}
#gym-photo > img{
    width: 90%;
    height: 70%;
    max-width: 250px;
    max-height: 200px;
    margin-top:10px;
    margin-bottom: 10px;
    border: 2px solid black;
    margin-top: 15px;
}

/*styling for photos on the about us page added